@font-face {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24pt;
    background-color: #e9e9e9;
}
header, 
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    background-color: #dd768f;
    color: #424549;
    padding: 20px;
    height: 10vh;
    max-height: 160px;
}
footer {
    background-color: #707070;
    color: grey;
    height: 120px;
    position: fixed;
    
}